html{
    background-color:#99ccff;
}

body{
    font-family:'Times New Roman';
    font-size:95%;
    padding:40px 0;
}


.container{
    max-width:940px;
    margin-left:auto;
    margin-right:auto;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:40px;
    padding-bottom:40px;
    box-sizing: border-box;
}

header{
    padding-top:20px;
    padding-bottom:20px;
    color:navy;
}

header h1{
    margin:0;
}


.content-area{
    border-top: 3px  #b3d9ff;
    border-bottom: 3px #b3d9ff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-area{
    width:60%;
    float:left;
    padding-right: 40px;
    box-sizing:border-box;
}

.sidebar{
    width:34%;
    float:left;
    background-color:#b3d9ff;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    /* padding:20px 40px 20px 40px; */
    font-size:85%;
    box-sizing:border-box;
    
}

footer{
    text-align:center;
    font-size:85%;
    color: #0059b3;
    padding-bottom:20px;
    padding-top:20px;
}

.fix{
    clear:both;
}

.group:before,
.group:after{
    content:"";
    display:table;
}

.group:after{
    clear:both;
}

.group{
    zoom:1;
}